<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972910120426-29mip7686gh6hpdudmqtnec8mlrkqp4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972910120426-29mip7686gh6hpdudmqtnec8mlrkqp4n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>972910120426-oqub48jullnf2o6221p0ffcjhjufsu89.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0jxPlAsp_8MkWBiI_JmHwOJjFhYKPcso</string>
	<key>GCM_SENDER_ID</key>
	<string>972910120426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nutrinow</string>
	<key>PROJECT_ID</key>
	<string>nutrinow-58c0c</string>
	<key>STORAGE_BUCKET</key>
	<string>nutrinow-58c0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972910120426:ios:096a3676bd44143d093693</string>
</dict>
</plist>